<!DOCTYPE html>
<head>
<body>
    <div>
        <form method="post" action="createpoll" enctype="multipart/form-data">
            <p>Create new poll<p></br>
            <input type="text" name="name">
            <input type="text" name="option1">
            <input type="text" name="option2">
            <input type="text" name="option3">
            <input type="submit" value="Create">
        </form>
    </div>
</body>
</head>
