doctype
html
head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://localhost:8080/styles.css')
    script(src='/scripts.js')
    title='Create a poll'
body
    include ./header.pug
    div.container
        h2.text-center='New poll'
        form(method='post' action='createpoll' enctype='multipart/form-data')
            input(type='text' name='name' placeholder='Question').poll-question

            div.poll-options
                input(type='text' name='option1' placeholder='1. option').option
                input(type='text' name='option2' placeholder='2. option').option

            input(type='button', value='Add option' onclick='addOptionField()').btn.btn-info.add-option
            input(type='submit', value='Create').btn.btn-success.create-poll
