div.header
    div.header-content
        div.nav
            ul
                li
                    a(href='/polls') Your polls
                li
                    a(href='/newpoll') Create a poll
        div.login
            ul
                li
                    a(href='/signup') Sign up
                li
                    a(href='/login') Sign in
                li
                    a(href='/') Connect with GitHub
