doctype
html
head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://localhost:8080/styles.css')
    title=name
body
    include ./header.pug

    div.container
        div.answer
            h2.text-primary.text-center=name
            form(action='/poll/' + id + '/vote', method='post', enctype='multipart/form-data')
                ul.poll-options
                    each option in options
                        li.option
                            - optionId = option.option_id
                            - optionValue = option.value

                            input(type='radio', name='vote', value=optionId)
                            label=optionValue


                input(type='submit', value='Vote').btn.btn-success
                input(type='button', value='results').btn.btn-info.results


        //div.answers
            //p=('Total votes: ' + totalVotes)

            //each option in options
            //    - votes = option.votes
                //- optionValue = option.value
            //    p=(optionValue + ': ' + votes)
