doctype
html
head
    link(rel='stylesheet', href='http://localhost:8080/styles.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    title=name
body
    include ./header.pug

    div.container
        div.answers
            h2.text-primary.text-center=name

            p=('Total votes: ' + totalVotes)

            each option in options
                - votes = option.votes
                - optionValue = option.value
                p=(optionValue + ': ' + votes)
